upstream db01_ssh {
  server {{ db01_ip }}:{{ ssh_port }};
}

server {
    listen {{ db01_stream }};
    proxy_pass db01_ssh;
}

upstream db01_mysql {
  server {{ db01_ip }}:{{ db_port }};
}

server {
    listen {{ db01_db_stream }};
    proxy_pass db01_mysql;
}
