upstream db02_ssh {
  server {{ db02_ip }}:{{ ssh_port }};
}

server {
    listen {{ db02_stream }};
    proxy_pass db02_ssh;
}

upstream db02_mysql {
  server {{ db02_ip }}:{{ db_port }};
}

server {
    listen {{ db02_db_stream }};
    proxy_pass db02_mysql;
}